### Easy 1

**Question:**  
Create a list of 5 integers and print it.

**Approach:**  
Create a list using square brackets and use print().

In [1]:
# Write your code here
my_list = [12,34,56,76,35]
print(my_list)

[12, 34, 56, 76, 35]

### Easy 2

**Question:**  
Find the length of a given list.

**Approach:**  
Use the built-in len() function.

In [48]:
# Write your code here
my_list = [33,43,5,65,22,4,55,88,76]
print(len(my_list))

9

### Easy 3

**Question:**  
Access and print the last element of a list.

**Approach:**  
Use negative indexing.

In [4]:
# Write your code here
my_list = [12,22,32,1,35,77,90,76,65,33]
print(my_list[-1])

33

### Easy 4

**Question:**  
Add an element to the end of a list.

**Approach:**  
Use the append() method.

In [5]:
# Write your code here
my_list = [12,22,55,35,77,90,76,65,33]
my_list.append(79)
print(my_list)

[12, 22, 55, 35, 77, 90, 76, 65, 33, 79]

### Easy 5

**Question:**  
Remove the first element from a list.

**Approach:**  
Use pop(0) or slicing.

In [6]:
# Write your code here
my_list = [12,22,55,35,77,90,76,65,33]
my_list.pop(0)
print(my_list)

[22, 55, 35, 77, 90, 76, 65, 33]

### Medium 1

**Question:**  
Print all elements of a list using a loop.

**Approach:**  
Iterate using a for loop.

In [9]:
# Write your code here
my_list = [12,22,55,35,77,90,76,65,33]
for i in my_list:
    print(i,end=" ")

12 22 55 35 77 90 76 65 33

### Medium 2

**Question:**  
Find the sum of all elements in a list.

**Approach:**  
Initialize sum = 0 and add elements in loop.

In [13]:
# Write your code here
my_list = [12,22,55,35,77,90,76,65,33]
sum = 0
for i in my_list:
    sum = sum+i
print(f"The sum of all elements of list is: {sum}")

The sum of all elements of list is: 465

### Medium 3

**Question:**  
Count how many even numbers are in a list.

**Approach:**  
Check element % 2 == 0 inside loop.

In [17]:
# Write your code here
my_list = [12,22,55,35,77,90,76,65,33]
count = 0
for i in my_list:
    if i%2 == 0:
        count+= 1
print(f"The total number of even numbers in this list are: {count}")

The total number of even numbers in this list are: 4

### Medium 4

**Question:**  
Find the maximum element without using max().

**Approach:**  
Assume first element as max and compare.

In [35]:
# Write your code here
my_list = [12,22,55,95,77,90,76,65,33]
max = my_list[0]
for i in my_list:
    if i > max:
        max = i
print(max)

95

### Medium 5

**Question:**  
Reverse a list without using reverse().

**Approach:**  
Traverse list from end or use slicing.

In [43]:
# Write your code here
my_list = [12,22,55,35,77,90,76,65,33]
my_list[::-1]

[33, 65, 76, 90, 77, 35, 55, 22, 12]

### Medium 6

**Question:**  
Create a new list with squares of each element.

**Approach:**  
Loop and append square of each element.

In [5]:
# Write your code here
my_list = [2,3,4,5,6,7]
new_list = []
for i in my_list:
      new_list.append(i*i)
print(new_list)

[4, 9, 16, 25, 36, 49]

### Medium 7

**Question:**  
Remove all occurrences of a given value.

**Approach:**  
Loop and remove or use list comprehension.

In [9]:
# Write your code here
my_list = [12,22,55,60,67,4,23,5,39,22,11,22]
value = 22
new_list = []
for i in my_list:
    if i != value:
        new_list.append(i)
print(new_list)

[12, 55, 60, 67, 4, 23, 5, 39, 11]

### Medium 8

**Question:**  
Find the index of a given element manually.

**Approach:**  
Traverse list and compare elements.

In [10]:
# Write your code here
my_list = [12,22,55,60,67,4,23,5,39]
value = 55
for i in range(len(my_list)):
    if my_list[i] == value:
        print(i)

2

### Medium 9

**Question:**  
Merge two lists into one.

**Approach:**  
Use + operator or extend().

In [11]:
# Write your code here
my_list = [12,22,55,60,67,4,23,5,39]
my_list2 = [1,55,67,34,45,89]
my_list.extend(my_list2)
print(my_list)

[12, 22, 55, 60, 67, 4, 23, 5, 39, 1, 55, 67, 34, 45, 89]

### Medium 10

**Question:**  
Check if a list is empty.

**Approach:**  
Use len(list) == 0 or direct comparison.

In [17]:
# Write your code here
my_list = []
if len(my_list) == 0:
    print("The list is empty")

The list is empty

### Hard 1

**Question:**  
Remove duplicate elements from a list.

**Approach:**  
Use loop and a new list or set.

In [18]:
# Write your code here
my_list = [1,55,67,34,45,89,22,55,34,78]
new_list = []
for i in my_list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[1, 55, 67, 34, 45, 89, 22, 78]

### Hard 2

**Question:**  
Find the second largest element.

**Approach:**  
Track largest and second largest values.

In [19]:
# Write your code here
my_list = [12,22,55,60,67,4,23,5,39]
largest = my_list[0]
second_largest = my_list[0]
for i in my_list:
  if i > largest:
    second_largest = largest
    largest = i

  elif i > second_largest:
    second_largest = i
print(second_largest)

60

### Hard 3

**Question:**  
Rotate a list to the right by k steps.

**Approach:**  
Use slicing and modulo operation.

In [ ]:
# Write your code here

### Hard 4

**Question:**  
Check if a list is a palindrome.

**Approach:**  
Compare list with its reverse.

In [ ]:
# Write your code here
my_list = [12,22,55,60,67,4,23,5,39]
if my_list == my_list[::-1]:
  print("List is Palindrome")
else:
  print("List is Not a Palindrome")

Not Palindrome

### Hard 5

**Question:**  
Split a list into even and odd lists.

**Approach:**  
Check each element and append accordingly.

In [32]:
# Write your code here
my_list = [12,22,55,60,67,4,23,5,39]
new_list_even = []
new_list_odd = []
for i in my_list:
    if i % 2 == 0:
        new_list_even.append(i)
    else:
        new_list_odd.append(i)
print(new_list_even)
print(new_list_odd)

[12, 22, 60, 4]
[55, 67, 23, 5, 39]

### Hard 6

**Question:**  
Find common elements between two lists.

**Approach:**  
Use loop or set intersection.

In [33]:
# Write your code here
my_list1 = [12,22,55,60,67,4,23,5,39]
my_list2 = [11,32,55,80,47,41,13,50,39]
new_list = []
for i in my_list1:
    if i in my_list2:
        new_list.append(i)
print(new_list)

[55, 39]

### Hard 7

**Question:**  
Create a new list that contains all elements from the given list.

**Approach:**  
Create empty list and append each element.

In [34]:
# Write your code here
my_list= [12,22,55,60,67,4,23,5,39]
new_list = []
for i in my_list:
    new_list.append(i)
print(new_list)

[12, 22, 55, 60, 67, 4, 23, 5, 39]

### Hard 8

**Question:**  
Find frequency of each element.

**Approach:**  
Use dictionary to count occurrences.

In [36]:
# Write your code here
my_list = [11,12,34,22,11,67,88,34]
my_dict = {}
for i in my_list:
    if i in my_dict:
        my_dict[i] += 1
    else:
        my_dict[i] = 1
print(my_dict)

{11: 2, 12: 1, 34: 2, 22: 1, 67: 1, 88: 1}

### Hard 9

**Question:**  
Move all zeros to end of list.

**Approach:**  
Create two lists or swap in-place.

In [37]:
# Write your code here
my_list = [12,0,22,55,0,60,67,4,23,5,39]
zero = []
non_zero = []
for i in my_list:
    if i == 0:
        zero.append(i)
    else:
        non_zero.append(i)
result = non_zero+zero
print(result)

[12, 22, 55, 60, 67, 4, 23, 5, 39, 0, 0]

### Hard 10

**Question:**  
Count how many times the list values increase compared to the previous value.

**Approach:**  
Compare current and previous values.

In [ ]:
# Write your code here

### Additional Easy 1

**Question:**  
Create an empty list and print it.

**Approach:**  
Use empty square brackets [].

In [46]:
# Write your code here
my_list =[]
print(my_list)

[]

### Additional Easy 2

**Question:**  
Create a list of three numbers and print the first element.

**Approach:**  
Use index 0.

In [46]:
# Write your code here
my_list = [12,22,55]
my_list[0]

12

### Additional Easy 3

**Question:**  
Check whether a value exists in a list.

**Approach:**  
Use the in operator.

In [48]:
# Write your code here
my_list = [12,22,55,45,6,4,2,3]
3 in my_list

True

### Additional Easy 4

**Question:**  
Replace the second element of a list with a new value.

**Approach:**  
Use index assignment.

In [47]:
# Write your code here
my_list = [12,22,55,67,23,5,39,44]
my_list[1] = 90
print(my_list)

[12, 90, 55, 67, 23, 5, 39, 44]

### Additional Easy 5

**Question:**  
Print each element of a list on a new line.

**Approach:**  
Use a for loop.

In [50]:
# Write your code here
my_list = [12,22,55,67,23]
for i in my_list:
    print(i)

12
22
55
67
23

### Additional Medium 1

**Question:**  
Count how many elements are greater than 10 in a list.

**Approach:**  
Loop and compare each element.

In [44]:
# Write your code here
my_list = [2,3,4,55,12,22,55,95,77,90,76]
count = 0
for i in my_list:
    if i> 10:
      count += 1
print("Total numbers which are greater than 10 are: ",count)

Total numbers which are greater than 10 are:  8

### Additional Medium 2

**Question:**  
Create a new list containing only positive numbers.

**Approach:**  
Check > 0 and append.

In [43]:
# Write your code here
my_list = [12,22,55,-44,67,4,23,5,39,-44]
new_list = []
for i in my_list:
    if i > 0:
     new_list.append(i)
print("The list with only postive numbers are: ",new_list)

The list with only postive numbers are:  [12, 22, 55, 67, 4, 23, 5, 39]

### Additional Medium 3

**Question:**  
Find the smallest element without using min().

**Approach:**  
Assume first element as smallest.

In [41]:
# Write your code here
my_list = [12,22,55,95,11,77,90,76,65,33]
min = my_list[0]
for i in my_list:
    if i < min:
        min = i
print("The smallest number in this list is",min)

The smallest number in this list is 11

### Additional Medium 4

**Question:**  
Create a list in reverse order using a loop.

**Approach:**  
Loop from last index to first.

In [39]:
# Write your code here
my_list = [12,44,22,55,57,60,67,4,23,5,39]
new_list = []
for i in range(len(my_list)-1,-1,-1):
  new_list.append(my_list[i])
print(new_list)

[39, 5, 23, 4, 67, 60, 57, 55, 22, 44, 12]

### Additional Medium 5

**Question:**  
Count how many times a given element appears in a list.

**Approach:**  
Use a counter variable.

In [38]:
# Write your code here
my_list = [12,22,55,95,77,90,76,65,33,22]
value = 22
count = 0
for i in my_list:
    if i == value:
        count+= 1
print(f"Number of times 22 appears in list is : {count}")

Number of times 22 appears in list is : 2