# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
# Answer here
a = 8
b = 12
c= a+b
print(c)

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [ ]:
# Answer here
a = 20
b = 7
c = a-b
print(c)

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [ ]:
# Answer here
a = 6
b = 9
c = a*b
print(c)

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [ ]:
# Answer here
a = 45
b = 9
c = a/b
print(c)

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [ ]:
# Answer here
 45//9
 print(45//9)
 a = 50
 b = 6
 c = a//b
 print(c)

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [ ]:
# Answer here
a = 29
b = 5
c = a%b
print(c)

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [3]:
# Answer here
a = 3
b = 4
c = a**b
print(c)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [2]:
# Answer here
a = 7
print(+a)
print(-a)

7
-7

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [4]:
# Answer here
a = 5+3*2
print(a)
b = (5+3)*2
print(b)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [5]:
# Answer here
a = 15
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [6]:
# Answer here
n = 10
n+= 5
print(n)
n*= 2
print(n)
n-= 4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [7]:
# Answer here
x = 3
y = 7
x,y = y,x
print(x)
print(y)

7
3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [10]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
num_1 = float(input("Enter first number : "))
num_2 = float(input("Enter second number : "))
sum = num_1+num_2
print(f"sum of {num_1} and {num_2} is : {sum}")

Enter first number : 6.8
Enter second number : 8
sum of 6.8 and 8.0 is : 14.8

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [14]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
num_1 = float(input("Enter first number : "))
num_2 = float(input("Enter second number : "))
num_3 = float(input("Enter third number : "))
average = (num_1+num_2+num_3)/3
print(f"average of {num_1} {num_2} and {num_3} is : {average}")

Enter first number : 7
Enter second number : 9
Enter third number : 9.4
average of 7.0 9.0 and 9.4 is : 8.466666666666667

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [15]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius = float(input("Enter the radius of a circle: "))
circumference = 2*3.14159*radius
area = 3.14159*radius**2
print(f"the circumference of a circle is: {circumference}")
print(f"the area of a circle is : {area}")

Enter the radius of a circle: 5
the circumference of a circle is: 31.4159
the area of a circle is : 78.53975

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [17]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
seconds = int(input("Enter the number of seconds : "))
hours = seconds//3600
remaining_seconds = seconds%3600
minutes = remaining_seconds//60
remaining_seconds = remaining_seconds%60
print(f" H: {hours} M: {minutes} S: {seconds}")

Enter the number of seconds : 3660
 H: 1 M: 1 S: 3660

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [18]:
# Answer here
principal = float(input("Enter the principal amount : "))
rate = float(input("Enter the rate of interest :"))
time = float(input("Enter the number of years :"))
interest = (principal*rate*time)/100
print(f"the simple interest is : {interest}")

Enter the principal amount : 10000
Enter the rate of interest :7
Enter the number of years :3
the simple interest is : 2100.0